body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
}
textarea {
    width: 100%;
    height: 80px;
    background: #1c1c1c;
    color: white;
}
button {
    background: crimson;
    color: white;
    padding: 10px;
    border: none;
}
