<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Quiz Verrouillé</title>
</head>
<body>
<h2>Déjà fait</h2>
<p>Vous avez déjà répondu au quiz, une seule tentative autorisée.</p>
<a href="{% url 'quiz:index' %}">Retour à l'accueil</a>
</body>
</html>
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Quiz Verrouillé</title>
</head>
<body>
<h2>Déjà fait</h2>
<p>Vous avez déjà répondu au quiz, une seule tentative autorisée.</p>
<a href="{% url 'quiz:index' %}">Retour à l'accueil</a>
</body>
</html>
